body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background: linear-gradient( rgba(242, 255, 231, 0.721), rgba(251, 244, 244, 0.1) ), url("targon_ring_02.jpg");
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    -webkit-background-size: cover;

  }